---
# StepClusterIssuer for cluster-wide certificate issuance
apiVersion: certmanager.step.sm/v1beta1
kind: StepClusterIssuer
metadata:
  name: step-ca
spec:
  # step-ca service URL (internal cluster DNS)
  url: https://step-ca-step-certificates.step-ca.svc.cluster.local
  # CA bundle from step-ca root certificate
  caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJxekNDQVZHZ0F3SUJBZ0lRUjFROW1BSkZraXVJd0JyUVNuTzVnakFLQmdncWhrak9QUVFEQWpBME1SUXcKRWdZRFZRUUtFd3RqYUdsc2JHbHVZMjl2YkRFY01Cb0dBMVVFQXhNVFkyaHBiR3hwYm1OdmIyd2dVbTl2ZENCRApRVEFlRncweU5qQXhNREV5TURBd05ESmFGdzB6TlRFeU16QXlNREF3TkRKYU1EUXhGREFTQmdOVkJBb1RDMk5vCmFXeHNhVzVqYjI5c01Sd3dHZ1lEVlFRREV4TmphR2xzYkdsdVkyOXZiQ0JTYjI5MElFTkJNRmt3RXdZSEtvWkkKemowQ0FRWUlLb1pJemowREFRY0RRZ0FFOE9FMlVNcEc1bUJ6eGEwaTR6Uk1rbmoyQ3p2cWVsU01mbTBkSXI0Tgo5Q2FtcXhWSXA3UjcrSTBVTjduZHM4OHVUVzhYcm9Pb1pmQ05WNFdER01pWWY2TkZNRU13RGdZRFZSMFBBUUgvCkJBUURBZ0VHTUJJR0ExVWRFd0VCL3dRSU1BWUJBZjhDQVFFd0hRWURWUjBPQkJZRUZBc2NnZEJhOUdRbXRQZkcKV3BoaC9jN01CSG43TUFvR0NDcUdTTTQ5QkFNQ0EwZ0FNRVVDSUZ3bklGbHNhNXRaNzZYNkpBTmtqZEJMQ1ZnLwpSTkJJNE9pczZkaDdiaXQ2QWlFQXlkZ0VINXFKa1gzK3dHbFZuSzBTbCtuSGg5T0wrVkF2TnRicnZ3dVJZVVk9Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
  # Provisioner configuration
  provisioner:
    name: chris@chillincool.net
    kid: 5cTlEQF4KuPEWMh-UiosM58oX4M6tBnphMUMqzSMyHo
    passwordRef:
      name: step-ca-provisioner
      key: password
