---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: koel
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: koel-secret
    template:
      data:
        APP_KEY: "{{ .APP_KEY }}"
        DB_USERNAME: "{{ .DB_USERNAME }}"
        DB_PASSWORD: "{{ .DB_PASSWORD }}"
        .env: |
          APP_NAME=Koel
          APP_ENV=production
          APP_DEBUG=false
          APP_URL=https://koel.chillincool.net
          APP_KEY={{ .APP_KEY }}
          DB_CONNECTION=pgsql
          DB_HOST=koel-db-rw.media.svc.cluster.local
          DB_PORT=5432
          DB_DATABASE=koel
          DB_USERNAME={{ .DB_USERNAME }}
          DB_PASSWORD={{ .DB_PASSWORD }}
          MEDIA_PATH=/music
          FORCE_HTTPS=true
          SCOUT_DRIVER=tntsearch
          CACHE_DRIVER=file
          QUEUE_CONNECTION=sync
  dataFrom:
    - extract:
        key: koel
---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: koel-db
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: koel-db-secret
    template:
      data:
        username: "{{ .DB_USERNAME }}"
        password: "{{ .DB_PASSWORD }}"
  dataFrom:
    - extract:
        key: koel
---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-r2
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudflare-r2-secret
    template:
      data:
        R2_ACCESS_KEY_ID: "{{ .R2_ACCESS_KEY_ID }}"
        R2_SECRET_ACCESS_KEY: "{{ .R2_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: cloudflare-r2
