---
# Allow Istio Ambient SNAT-ed kubelet health probes
# Istio rewrites kubelet health check traffic to come from 169.254.7.127
# This policy allows that traffic to reach pods when Cilium NetworkPolicy enforcement is enabled
# See: https://github.com/istio/istio/wiki/Troubleshooting-Istio-Ambient
# See: https://github.com/istio/istio/issues/49277
apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: allow-istio-health-probes
spec:
  description: "Allow Istio Ambient SNAT-ed kubelet health probes from 169.254.7.127/32"
  endpointSelector: {}
  ingress:
    - fromCIDR:
        - 169.254.7.127/32
