---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      # Prowlarr chart from chillincool GHCR OCI registry
      chart: prowlarr
      version: "0.2.0"  # Use latest version
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
      remediateLastFailure: true
  # Chart values - customize as needed
  values:
    image:
      repository: ghcr.io/chillincool/prowlarr
      tag: latest
    service:
      type: NodePort
      port: 9696
      nodePort: 30696
    podAnnotations:
      configmap.reloader.stakater.com/reload: decypharr-values
      secret.reloader.stakater.com/reload: rclone-secret-realdebrid
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /config
            subPath: prowlarr
      realdebrid:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: realdebrid-webdav
        globalMounts:
          - path: /storage/realdebrid
      symlinks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: symlinks
        globalMounts:
          - path: /storage/symlinks
