---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-waypoint
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/monitoring/waypoint
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
  targetNamespace: monitoring
