---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: radarr-4k
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/media/radarr-4k/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
