---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: node-exporter
  namespace: flux-system
spec:
  dependsOn:
    - name: victoria-metrics-stack
  interval: 30m
  path: ./kubernetes/apps/monitoring/node-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 10m
  targetNamespace: monitoring
