---
apiVersion: v1
kind: Namespace
metadata:
  name: media
  labels:
    name: media
    kubernetes.io/metadata.name: media
    istio.io/dataplane-mode: ambient
    istio.io/use-waypoint: media-waypoint
