.private/
.pytest_cache/
.task/
.venv/
*.crt
*.env
*.iso
*.key
.decrypted~*
.DS_Store
Brewfile.lock.json
Thumbs.db
CLAUDE.md
kubeconfig
talosconfig

#### Tempoary ####
kubernetes/apps/iot
kubernetes/apps/util/smtp-relay
talos/nodes/talos*.j2
