---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-proxy
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/kube-system/kube-proxy/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
  targetNamespace: kube-system
