---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wrtag
spec:
  chartRef:
    kind: OCIRepository
    name: wrtag
  interval: 1h
  values:
    controllers:
      wrtag:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sentriz/wrtag
              tag: v0.20.0@sha256:3f33c13cc1613e9d63d42050898c07a2dd63662a87ab3a7d71a33a8abb4a097e
            env:
              PUID: "1000"
              PGID: "1000"
              WRTAG_WEB_LISTEN_ADDR: 0.0.0.0:7373
              WRTAG_WEB_DB_PATH: /data/wrtag.db
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: wrtag-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 7373
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi
        statefulset:
          volumeClaimTemplates:
            - name: data
              storageClass: longhorn
              accessMode: ReadWriteOnce
              size: 1Gi
              globalMounts:
                - path: /data
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.chillincool.net"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      music:
        type: nfs
        server: dsm1.chillincool.net
        path: /volume2/data/media/music
        globalMounts:
          - path: /music
      tmp:
        type: emptyDir
