---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wrtag
spec:
  chartRef:
    kind: OCIRepository
    name: wrtag
  interval: 1h
  values:
    controllers:
      wrtag:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sentriz/wrtag
              tag: v0.20.0@sha256:3f33c13cc1613e9d63d42050898c07a2dd63662a87ab3a7d71a33a8abb4a097e
            command: ["/usr/local/bin/wrtagweb"]
            env:
              WRTAG_PATH_FORMAT: '/media/media/music/{{`{{ artists .Release.Artists | sort | join "; " | safepath }}`}}/({{`{{ .Release.ReleaseGroup.FirstReleaseDate.Year }}`}}) {{`{{ .Release.Title | safepath }}`}}{{`{{ if not (eq .ReleaseDisambiguation "") }}`}} ({{`{{ .ReleaseDisambiguation | safepath }}`}}){{`{{ end }}`}}/{{`{{ pad0 2 .TrackNum }}`}} {{`{{ .Track.Title | safepath }}`}}{{`{{ .Ext }}`}}'
              WRTAG_WEB_LISTEN_ADDR: :80
              WRTAG_WEB_DB_PATH: /data/wrtag.db
              WRTAG_WEB_PUBLIC_URL: https://wrtag.chillincool.net
              WRTAG_LOG_LEVEL: debug
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: wrtag-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      wrtag:
        hostnames:
          - "{{ .Release.Name }}.chillincool.net"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
      media:
        type: nfs
        server: dsm1.chillincool.net
        path: /volume2/data
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
