---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-gateway
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/kube-system/gateway
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
  dependsOn:
    - name: envoy-gateway
