---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: media-waypoint
  namespace: media
  labels:
    istio.io/waypoint-for: all
spec:
  gatewayClassName: istio-waypoint
  listeners:
    - name: mesh
      port: 15008
      protocol: HBONE
