---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kiali
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kiali-server
      version: 2.2.x
      sourceRef:
        kind: HelmRepository
        name: kiali
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    auth:
      strategy: anonymous  # TODO: Change to authentik later

    deployment:
      ingress:
        enabled: false

    external_services:
      istio:
        root_namespace: istio-system
      prometheus:
        url: http://vmselect-victoria-metrics-k8s-stack.monitoring.svc:8481/select/0/prometheus
        health_check_url: http://vmselect-victoria-metrics-k8s-stack.monitoring.svc:8481/health

    istio_namespace: istio-system

    server:
      web_root: /

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
