---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: overseerr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: overseerr
      version: "0.x.x"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: false
    crds: Create
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  values:
    httpRoute:
      enabled: true
      parentRefs:
        - name: media-gateway-istio
          namespace: media
          sectionName: https-overseerr
      hostnames:
        - overseerr.chillincool.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: overseerr
              port: 5055

    service:
      type: ClusterIP
      port: 5055
      targetPort: http

    podSecurityContext:
      fsGroup: 568

    securityContext:
      runAsNonRoot: true
      runAsUser: 568
      runAsGroup: 568
      readOnlyRootFilesystem: false

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: overseerr-config
        globalMounts:
          - path: /config
