---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale-operator
spec:
  interval: 1h
  path: ./kubernetes/apps/network/tailscale-operator/app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: operator-oauth
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false
