apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: step-ca
    namespace: step-ca
spec:
    interval: 30m
    chart:
        spec:
            chart: step-certificates
            version: 1.x.x
            sourceRef:
                kind: HelmRepository
                name: smallstep
                namespace: flux-system
    install:
        remediation:
            retries: 3
    upgrade:
        remediation:
            retries: 3
    values:
        inject:
            enabled: ENC[AES256_GCM,data:6Ujyqg==,iv:7zWsWV0cwW8Tpn9qp50fXMUWAntPs65OSAvXiKxqsoI=,tag:gv5GdD6zMB6834KiGwc4wg==,type:bool]
            config:
                files:
                    ca.json:
                        root: ENC[AES256_GCM,data:GFATsMX/u6M7KGZoVtPSEDD7U0sDe7f6tSJ5gQ==,iv:yhmVu/M/2Ue31weFg46kR8HwI6nUlnEvYfJlHwaGo3U=,tag:TZaObtIRoKSYnDPZRUZVDw==,type:str]
                        federateRoots: []
                        crt: ENC[AES256_GCM,data:tUXni7u6SV3xKtbwcPxXZRx6/IZgefIp26rau/CwyjMXjXWo,iv:GRrlqI9K+YVV+XoFO7Szeh6UeKoPMW2DOoCnVK8qtcQ=,tag:d+ZzV7y/9WC5OL/nfRs2Hw==,type:str]
                        key: ENC[AES256_GCM,data:zYhsjJp7HNV4zWIrkai5AP0Ob764cfih0k73pSsDHsX9ZrP/Ft0=,iv:SsRPszi1q6j3r/ysWMx37I/AEXZlHs+NSrPEeKhyUAI=,tag:Nr6wCvqbA3Ywp7KnWKUoqw==,type:str]
                        address: ENC[AES256_GCM,data:L3AxMg==,iv:Ot877uE8ckqQfUW9UnAZsE5X5uU7EoisL7MiyczR9hM=,tag:M2Gn0sz3Wg06YzpzeqIVEA==,type:str]
                        dnsNames:
                            - ENC[AES256_GCM,data:nSn+6pF6BQzhlQrqOQlEX7D7AA==,iv:tALWmIc7CADIBdgx9x9coT51G40F+a9V9uvzJRhB5ow=,tag:IDVMtMMrfMZTPULcV/csBA==,type:str]
                            - ENC[AES256_GCM,data:Vlj5M8bIqii3kVr128eAiIW3C0+DFriIOlY0qkX9tLd4DFHBiSS07sFB6fAQBfCTdU51,iv:1jvUoy/shjVbKvV2AiT8G06xt63Mx46nozZO9LGx+Tk=,tag:fW//rL/8mw+5lBiPBEsvGA==,type:str]
                        logger:
                            format: ENC[AES256_GCM,data:yMtDMg==,iv:fxd1ZhFerJWh4Su9VqZLxBFIG2ybNzEu2q6DfbrfZPw=,tag:R9PZdwoVOgyKXM54mJlRow==,type:str]
                        db:
                            type: ENC[AES256_GCM,data:4E6uzMib9yg=,iv:nl60eXCerdsT7e5Fje7pFKUrRMoAvF7YV7kplyq3uAY=,tag:3br/mnddC0/FXTD15Euvzw==,type:str]
                            dataSource: ENC[AES256_GCM,data:nUx4U95Omb2JQ7QGoA==,iv:g4zAi0tGRNSxlkRzkJvwHhBwkTOQbH9IvQCapc/NWJ0=,tag:f4Jkf12jBdArpSGbOOuxnQ==,type:str]
                        authority:
                            enableAdmin: ENC[AES256_GCM,data:jsEJsps=,iv:/93Jw8xCqkA9t9MO8trvu6aQ/4hewDYavqSJBuFUcEc=,tag:MRFilg0RxsNxksyn77rmWQ==,type:bool]
                            provisioners:
                                - type: ENC[AES256_GCM,data:lv6D,iv:kKzRhTWPZqVB2THX54+q0S0DazoTSnptQolBy9XYhik=,tag:dKKJLfByvskcI+DcdzBFMg==,type:str]
                                  name: ENC[AES256_GCM,data:HW4phfq0YSDu+8a/F3JekjcsQP1w,iv:tbl7JrSBpQyP+OEY/fJgMwDNVc8fYf9XvTbM8wsRQp0=,tag:UH6pFcuqEQqjl39GJl66cQ==,type:str]
                                  key:
                                    use: ENC[AES256_GCM,data:22Lc,iv:H6/WZEoLqt1RSEsiRjjtSWDyb8yY0ETepz5JIikHjRs=,tag:A3jrYLFLV2Q1melaUFAkxg==,type:str]
                                    kty: ENC[AES256_GCM,data:YfA=,iv:J8YH5/nuebpxFoyGt1BamxfnyI0rm8eWB/9neuwmN34=,tag:GDnNFyfPK76T9GPy5T8s6w==,type:str]
                                    kid: ENC[AES256_GCM,data:QZBTbJO+RuV6hKBQq5TZjW74wqe0Fyt1PLeYI4bWMTfYQgyTcp5TmquFRg==,iv:34IocFIJtFLZmZSgHQGmz5JrQV1lCWIv+4Y9h5PHro8=,tag:XfsLT3BP+eCpRKsKjv08iQ==,type:str]
                                    crv: ENC[AES256_GCM,data:qykgUSI=,iv:LDtV+1283caY2DZKU4Ev1O5I3YxzCmqkPdlilUx0scE=,tag:uKR9vUEI9VG8XZNpLZ83pQ==,type:str]
                                    alg: ENC[AES256_GCM,data:jttQB7I=,iv:Z+3qIbo806lLKkbRkfo5jrccaAjKm9hwmcehyaNglj4=,tag:gvJoG6XNbboj2W8ZL9PVRw==,type:str]
                                    x: ENC[AES256_GCM,data:Lonwt+p/aMUtVYpXxps3hBXEsIrNvG6wBDjfEWjYCt8ZgOAlTrwWfA12Yg==,iv:J3/rie2DsuFfbEWhQpCyk01SjZGNa9qBY79sC+VDA0U=,tag:iOvUmogC98Ges4xc8hT4yQ==,type:str]
                                    "y": ENC[AES256_GCM,data:/vymqbMgUQZeA6NsM4Kzc3kpp4krZ0r5/S/b2M5jYG1uK84y2ppVDfYrhQ==,iv:cL66JWtpiOc4XzRwnB8nkw8FdnJpgfmaEP2zFdjMuoM=,tag:/1nzQfx9OntBzAANHb8nwA==,type:str]
                                  encryptedKey: ENC[AES256_GCM,data:c8UMR/mAwSRAjrGZk4p7ctobGaQytt4UbHaoMeJLKHSJ2Xl7ySLiKnnsBOrs9T+6Wn/loSOFpeo9UeSigFtOR9Zg5+ZinPNFdDEcS0XMVY3XpN4SjDb8vk3aPAD5AjrP79zX9TrKCJKe6Bl/dOfC10lsKoI+mgyZxbFBDhRnNj9E8rUqAy6D84MqNCFdwBYXVNaYtq21T6mwsu/x1lARTIT5tqjXvo0U5PTeoNcQGrjMf7SCP4xe93+mzvnuCiNnpsQgIsFGm+pe5S5fTcePShtuAqDdlKa4pVGh2zOtw5yJWspRaWmalorZ2q2UVzthrGUDOO2YbD1nwJ9bz6ecOqf2Q4TVfBYtdRnpIBL6z+rl+XRUkY7uHrJD6Lt5Rdgc3odU3eUOpw59cRPzkGCiPlWuoJbSbX0MxIJ9dUagQNPJJv+RRIv4kcrAEXDtFCnyF0K9qACeS2g2pJTaM2Dk3DgOfYsl56zUiI8F2tx+dCqBmoYIkxHytOWM8Sikv+Ggs/9IUEC46IG+nDztakxInSfwKAm5AHSUITZUO2vWfipEcp77YEgdRg81QoZ5JaIg7j639jIvCSL74t+pIWdXXlZPYYUH4LDUw1L75D8rQzD/ugEADOmg4/XmZZa0IOw5kdtAs1/5BIr3KPPSZFecCdSbEx8Mx29mWqOtM0MZ1FzC68C/kYNh09jMmowYeIK4phyAjp+CKt1zu+ZOYfRaLSOPSC5Zr4emzRNve7/8bdLeLZWxtP1n+8JeNIigIZ0=,iv:ozilh7yYH/q4RXhxP9I/du6xOG+K6AsP+eZs/68BNaU=,tag:6w0STXQa1vDwAX0jgqFSOg==,type:str]
                                  options:
                                    x509: {}
                                    ssh: {}
                        tls:
                            cipherSuites:
                                - ENC[AES256_GCM,data:SULoYjQz/E6blJ6NUF6D8qs3Hp0OVb9XA/d5yMwxFuYxwl26Q5aB1MbpqnB3,iv:/ekyMSkkKoRVtNRMrBrpijdSu5NuQmR5w3B9uJa6zrk=,tag:pIZ8VQFZmLBR+WjQ/it8nA==,type:str]
                                - ENC[AES256_GCM,data:tcI3PkP3PPSlqgP+qaSwDLRmk6D1QeO3hVTmycIGpYIkck9/GzcL,iv:+VJ9eRyu4al6oCVvOXaEcRg6D5JXJFX1fRvcKqKTLM8=,tag:l0aS+UeTa3aWIaYd38V6Xg==,type:str]
                            minVersion: ENC[AES256_GCM,data:fRho,iv:8AnNLBwN9HWhAbQbvn78+pvsKMWzLOJttn2B1GpOZK8=,tag:PSjN9xLr3x2vkFpUSns+ug==,type:float]
                            maxVersion: ENC[AES256_GCM,data:p4op,iv:a2FyGM47W3bNtp1guOlsMrnnc+8C2jo9q+8mkAxmF54=,tag:wsgAC19Fa890KRrCzBaHkg==,type:float]
                            renegotiation: ENC[AES256_GCM,data:9rCl1Jg=,iv:HtT9NCLn02zH9AP/E+4T2RylwAv4LeddakI/aYlPZn0=,tag:r2uqyjOJ/sSJ58mM0rgHvA==,type:bool]
                    defaults.json:
                        ca-url: ENC[AES256_GCM,data:Rr/PvLhNyHz/PD2cIZxt+2nNu2MxnYYEr3C9,iv:jzX/wSREL8rcq1xr8/4b5/5Y7uAB5lnTEg5d0XdpjH8=,tag:uEhQVX4Ae1Y9LrJB6/FFWQ==,type:str]
                        ca-config: ENC[AES256_GCM,data:chUejUC5ryMX+Bbt2POC99xZgwT+9vOo7Q==,iv:kadUORGyq4lUid+m5iiVfXZ/Sl306TwUKQBNxnHmOrQ=,tag:R5k94E3jP96bM0cnBsLkyw==,type:str]
                        fingerprint: ENC[AES256_GCM,data:wKbkle6RaROAcPcXG0eAokG9K4iGB9DLb+vhqV/pUr6WDFrJF/kkikdHN7zZXLH7odPPkqVupvM2WeouwKiOBw==,iv:8mRzm9RQSLSDJAbTBOhYyz8E99GIZnqlRjF+/7Ifi+o=,tag:azgBHrowbvcGK5KgQJD4tg==,type:str]
                        root: ENC[AES256_GCM,data:fGjwOSFgg9o3mAX8x0aNz+EKrLXSCxIaFTYYLw==,iv:66YD+/DC3V22iTK0rStezsSZXUSqsuE3NwToQTsbT/s=,tag:+n8ZmPniPJ0ywZNNR1Xp8w==,type:str]
            certificates:
                intermediate_ca: ENC[AES256_GCM,data:IblGSXJe72at1CAJoaI//d75sncEn1meNTkoST8c8SB4oMO4AjFQ9OYCkzIMHmaKvzopKOy13vsAhcKNz0mocL7kSk6af3wmqipiYyauSET1lbJcEf/S+wydpW9S+uU+p58M5fy5bsAYoJ+tJy7WpGIkjpSo9+oL46M5q6uwp+1yXFWKxNHks9OB0vGP6+aMhlFKM1ogzfy6Qh/EJbFGO6SpzNEOrWJDxisF4O3cb95OR+rqC0y+pZXjoy74+0VQBdGJ8YQuvidPA2idWMW9MfuU8uSiPa27Jl8wN64vCr7m1vMcvWFCtfLuOgybkJzSUpC1jgsVDUc4FBXMQ2M+H/yN4Qd2Df5JHg8y7WKUOlx6mw8Yi6T1SFeQn3kRusENDMcc7NIZfCsYLJTpZT5sJqagUhf1ZkSw3Atbbdbxw5ENJZ2UDCJZGA0zVp/bCfXP/Wwqj+lnkO4fy3ykVJ5V3tq1xltnNeSUVxKjLOyVOUMRQKyy2AlyZzAg/jdbow3K6HlJo3JyRQ6aSdphgYYm0EzJauu3HHgl4B8jFB3Y+er/cw1eFy4SYWiznq09M7RmmQXLhS52+R9TTWvfzNjBNm7oCEAP5IzdVs5HWxZZdscvWa+40qgiwsNr0V3n8MKm6Z16b1uwfkdBb4td0zDIC+QhtkLru0F9ptH4rDs1vilTz/GCviLwUd7/W0gJdsZOh3LTDQlvp9fj+Yw2z2eJTcwVwe+PYRmDo2qCKLGeNHL4FQVWFb/epOhl6LLbfjAo66VYEOKgyoGDUpFafQIFLOtNHCAaLcyQd5/KqWerIdryhbOBFS4NyWNl9F4YNEj5bujmnI+milNm/yNikA5a8fdqNPHt3PG4q2heB+1BmOHA7/yX4yK3gvgkcbVVYGuS/n1grDIDty7tZAOemmdDfSdczLw=,iv:cp0IAWny+ulELO9F6bPDGLvJlcndNxPKqKTnTF4d/y0=,tag:NVIDsWz63+z43I37WazqAg==,type:str]
                root_ca: ENC[AES256_GCM,data:n5Y6YCmt04XXEDI3zD31PbIUgYiL1Pnh4gvwcgxIjeHRuw7ViPz20QgTmohZYgEGKCRX8EwDBF4zmZTI1mozoDaLkwp1QByO4KuUrtUaSL3GT5e1VJ6qfjZQbhNOgDg8jekEokP8bszSLsLQh7Udy6lTytB1PhTx4BZAKPOLTktQW4MxujRqjP1OCHp1GXkPgoGIN9N/PT5Bb+SDhgGh0nxi5ABrRLAB4zYUBiwmwLVH+xIY3SprWNtAImM5z4ZriwE3ZlYV9yikBjPuE4XLSPzu/LY4jViAAWEJ8UxxWg8fsYzdtrmc1P9eW3YEbYs0Or4umbN/OPgejPwr2GBRcs7Oh72RJTD8ws6XpVFTYZaiKdUE1s8pxgrv5EhOdE/zpmDqho0xdRNT0w0eBVMUZK7drkHHRWgRqBtl1UERarl8HdG8P0VStmeZnhr2yr0csbmGB2SxriJFOoeIElNZhEyrFiJsuVXtYvrstkrJyo9advTITiggkr9TqnMp+D5Mp5z/EM9teKOhKuiiK5RTUhUUEQ2Ye5djE6xa2qpMTDCJCj/5KB0jeuvCaD1vOjk0n1sg/aWIu06JLQUZfphGbOeVRN8zt1krfsV+9PSvtCUrAp08kGR78nfkRrCNK1R8AU9Bq9U6gHXouaMQRdRIB10qK8T2SHYLWLQIP6ObxhLWhHDhIOyAdJQMLacm2G7ogBb1M/ciuf0abAMAlz2T7fRm6PKigJHItodbBIHuYuUE4k14VPev455giTPRE40d1TcHP/32SABPKsxjr/y4e6KvxEtk6J0g137tDZVsSkw0A8UcOFiPW0hXGszIMn/5J45lXCHBUXVvfFjTRp8/,iv:HcS5G/MmDg9B1U4OgsmVA8IR0AZxcJObzwjrJm0kRUg=,tag:LPe6cJf5kA54OUgtwMlmZw==,type:str]
            secrets:
                ca_password: ENC[AES256_GCM,data:GnXMkLJn9ILAzhSTq5Rn9mu6AT2T3LxRzqRgeEdVMhPdyV9EyfZtzyh1xRM=,iv:37NjlqZIgVX94n0pBDOHD8qXhePuNoi9fFGeXX+tWbI=,tag:mxyiw4CTpTfQ1gITmBOWmw==,type:str]
                provisioner_password: ENC[AES256_GCM,data:R4j6N8aRCZc3LkjcOYSqMRrw0woylgLyPUa473y7bSttzMzqo7e/v44M9qw=,iv:Pc1Nz54S0n5oOgnVJZ+6+nbjzn6MIYsLSy6QhnRFi5Y=,tag:YU7GIWvSd2fieMhj4tb+oQ==,type:str]
                x509:
                    intermediate_ca_key: ENC[AES256_GCM,data:0UtA/FOi4XiOfaSd26uanqladdNoadNXtYcp/QGk9mx/dqLLqrwB0Py6ReBz+iSLBQWaobJ+MONLBb6kgjfb64QPOgcT+lReBryaEvIh9ft/Sx1porY2eL6Mn2vZ7S3puchKFELEcpamC7luYup5JiuKoDJvCCTut/UEvqMvueCap4ofo2poRYzkWaSiMmtkfCd7AjXs1Skj92kCCgCBjEqPHM6OW26dXNW9VZYzKNlTOAXA0dLKxfJkYYaBa1zngiLaUINt7OrIWxRA9dFgagaL8s8FoDhmJL62NPdl/JOlcEj/uzwML3HmapL6C/e5HybQf3z34oWV6KH2GWCA/OFFN/XKSLLX4eG2gGgZiLVWwQxj1S5g/jjHazpPbdVPSN1VldGlOKR2hjmsShYqEJH/XLoJr71oBus=,iv:L2gY2EI1U4sfYpoqOgourrpqUPQqZmLV5TIzuyEOf0s=,tag:gRfTW9n6uaGWrbmSIHRiFQ==,type:str]
                    root_ca_key: ENC[AES256_GCM,data:zVhckSmCHfCRRZl/weBOV0nr9/jtSpTko8piNSlvnb9xkB6LxbeYqdSbQ9YARImnbMoDEjZMWB3vzEXLd0JiGdHS114hdf09qn80kWPvDlRLAr4ixLUdghaH8BlzWHF35EKRVNTC8SWpJvqqCyGtuqm8Eyu+ZuE5crwiReti34klG8eLf5HaPJ6mU3z3Qnud0dWeJMY0JCJNiy4Rl9w/ixhiNGRlBdOYrwsMoP6MfmZSDQ5fpMAy9lQkw6xa20KQVluM4ZyFsai71I/DnD2kO/Htip/yVsaws33x0ZThLFTwU7fcH8riheoKt5J2ztCgztFgGWcitvPzLWtB9MqfKC7Mgmv9gr3q1Eig27PejLg5r99MKs4eK9nZQWLRLqPL5xBttaOm5w7GASrmIF4P7lqhEFwIj//D7v8=,iv:xHYqpE8PTGt6Eo65rtSs52iE117nGqrvwIOq33qpOrQ=,tag:JWJ+YlyjNEDVXRsSS/eeEQ==,type:str]
        # Persistence for CA database
        persistence:
            enabled: true
            storageClass: longhorn
            size: 1Gi
            accessMode: ReadWriteOnce
        # Resources
        resources:
            requests:
                cpu: 100m
                memory: 128Mi
            limits:
                cpu: 500m
                memory: 256Mi
        # Service configuration
        service:
            type: ClusterIP
            port: 443
            targetPort: 443
sops:
    age:
        - recipient: age145240rs7s8y8e5tvz747ccxj9504hqhvrw4m5zy8y9zc9sjarpcq6ptf98
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzSnB4bXp1eDdzNStKUU42
            N3VBMEkzTGRjK21nOGdIbTRhVXNjU2NCcVc0CnlNcCttQkJQQWRqeDBNdDF0OFRo
            U2N2YUxUNU1JeTRtNnJncEZBMGlxaEkKLS0tIExVMFpXNGRJSktXVXZPQTNPVGt1
            eEM0blRXYkdmek9yUWZDb3dOR0lrRmcKciQiOkmQ2MGA1aVePpHDUcn+IgOi15aD
            9vTJ1Ky/jNHo7Y5Pnher18eQplKyQZgBlh84f5GLeDLrhgsbc7uo9Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-01T22:43:01Z"
    mac: ENC[AES256_GCM,data:XOXr3pEeXVmkB6TxEctduVHWz8Pn1Qck2tWbbTw19ZztLCcrirWLTK9gUt7fv26RjU8VRzRdmid/sv1H5u06ztM/SJTot9oT0tKSnnq3UOVrQyZ/3NR/wQY6NHAQCW72GlnhA2kFdpFyE3gs2W1blqF9Jec+PxD7zRWNDFPAeyQ=,iv:jQiUn6c6SUcTZh36l45+DMjptb/9Y5qMRgmKMQWEobk=,tag:xm4Q/Wznee2M/TWQNUxT+g==,type:str]
    encrypted_regex: ^(inject)$
    version: 3.11.0
