---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword-connect
  namespace: onepassword
spec:
  interval: 30m
  chart:
    spec:
      chart: connect
      version: "1.15.1"
      sourceRef:
        kind: HelmRepository
        name: 1password
        namespace: flux-system
  install:
    crds: Create
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    connect:
      credentials_base64: ""
      credentialsKey: "1password-credentials.json"
      credentialsName: "onepassword-credentials"

    operator:
      create: true
      autoRestart: true
      watchNamespace: []
