---
apiVersion: v1
kind: Namespace
metadata:
  name: envoy-gateway-system
  labels:
    kubernetes.io/metadata.name: envoy-gateway-system
    istio.io/dataplane-mode: ambient
    istio.io/use-waypoint: envoy-gateway-waypoint
