---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-to-https-redirect
  namespace: media
spec:
  parentRefs:
    - name: media-gateway-istio
      namespace: media
      sectionName: http
  hostnames:
    - "*.chillincool.net"
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
