---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sonarr-anime
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/default/sonarr-anime/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m