---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./networks.yaml
  - ../resources/cilium-spire-namespace.yaml
  - ../resources/hubble-httproute.yaml
