---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  # Temporarily commented out until Cilium 1.18.5 upgrades and installs BGP v2 CRDs
  # - ./networks.yaml
