---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cloudnative-pg
spec:
  interval: 15m
  url: https://cloudnative-pg.github.io/charts
