---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: csi-rclone
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/storage/csi-rclone/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
