---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: step-issuer
  namespace: cert-manager
spec:
  interval: 30m
  chart:
    spec:
      chart: step-issuer
      version: 0.x.x
      sourceRef:
        kind: HelmRepository
        name: smallstep
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    # Resources
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 64Mi
