---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ../resources/secret.yaml
  - ../resources/stepclusterissuer.yaml
  - ../resources/ca-bundle-configmap.yaml
