---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeeringPolicy
metadata:
  name: fortigate-peering
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
  virtualRouters:
    - localASN: 65003
      exportPodCIDR: false
      serviceSelector:
        matchExpressions:
          - key: somekey
            operator: NotIn
            values: ['never-used-value']
      neighbors:
        - peerAddress: 172.16.60.1/32
          peerASN: 65001
          eBGPMultihopTTL: 1
          connectRetryTimeSeconds: 120
          holdTimeSeconds: 90
          keepAliveTimeSeconds: 30
          gracefulRestart:
            enabled: true
            restartTimeSeconds: 120
