---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
spec:
  chartRef:
    kind: OCIRepository
    name: oauth2-proxy
  interval: 1h
  values:
    controllers:
      oauth2-proxy:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: quay.io/oauth2-proxy/oauth2-proxy
              tag: v7.14.2@sha256:d668629fc47f357aaa9d1a0f433cbae8780cca50e65779a3bcbbe9b8abee4997
            env:
              OAUTH2_PROXY_PROVIDER: keycloak-oidc
              OAUTH2_PROXY_PROVIDER_DISPLAY_NAME: Keycloak
              OAUTH2_PROXY_CLIENT_ID: oauth2-proxy
              OAUTH2_PROXY_OIDC_ISSUER_URL: https://login.chillincool.net/realms/chillincool
              OAUTH2_PROXY_REDIRECT_URL: https://auth.chillincool.net/oauth2/callback
              OAUTH2_PROXY_HTTP_ADDRESS: 0.0.0.0:4180
              OAUTH2_PROXY_METRICS_ADDRESS: 0.0.0.0:44180
              OAUTH2_PROXY_EMAIL_DOMAINS: "*"
              OAUTH2_PROXY_COOKIE_DOMAINS: .chillincool.net
              OAUTH2_PROXY_WHITELIST_DOMAINS: .chillincool.net
              OAUTH2_PROXY_COOKIE_SECURE: "true"
              OAUTH2_PROXY_COOKIE_HTTPONLY: "true"
              OAUTH2_PROXY_COOKIE_SAMESITE: lax
              OAUTH2_PROXY_PASS_ACCESS_TOKEN: "true"
              OAUTH2_PROXY_PASS_USER_HEADERS: "true"
              OAUTH2_PROXY_SET_XAUTHREQUEST: "true"
              OAUTH2_PROXY_SKIP_PROVIDER_BUTTON: "true"
              OAUTH2_PROXY_REVERSE_PROXY: "true"
              OAUTH2_PROXY_UPSTREAMS: static://200
              OAUTH2_PROXY_SILENCE_PING_LOGGING: "true"
              OAUTH2_PROXY_SKIP_AUTH_REGEX: ^/ping$
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: oauth2-proxy-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 4180
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 15m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
          metrics:
            port: 44180
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
    route:
      app:
        hostnames:
          - auth.chillincool.net
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      tmp:
        type: emptyDir
