---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: decypharr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: decypharr
      version: "0.x.x"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: false
    crds: Create
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  valuesFrom:
    - kind: ConfigMap
      name: decypharr-values
  values:
    service:
      type: NodePort
      port: 8282
      nodePort: 30828
      targetPort: http
    
    podSecurityContext:
      fsGroup: 568
    
    securityContext:
      runAsNonRoot: false
      runAsUser: 568
      runAsGroup: 568
      readOnlyRootFilesystem: false
    
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /config
            subPath: decypharr
      symlinks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: symlinks
        globalMounts:
          - path: /storage/symlinks
