---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: decypharr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: decypharr
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: false
    crds: Create
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  values:
    service:
      type: NodePort
      port: 8282
      nodePort: 30828
      targetPort: http
    
    podSecurityContext:
      fsGroup: 568
    
    securityContext:
      runAsNonRoot: false
      runAsUser: 568
      runAsGroup: 568
      readOnlyRootFilesystem: false
      privileged: true
      capabilities:
        add:
          - SYS_ADMIN
    
    volumes:
      - name: config
        emptyDir: {}
      - name: dev-fuse
        hostPath:
          path: /dev/fuse
    
    volumeMounts:
      - name: config
        mountPath: /config
      - name: dev-fuse
        mountPath: /dev/fuse
