---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: lam-tls
  namespace: openldap
spec:
  secretName: lam-tls
  issuerRef:
    name: letsencrypt-dns01
    kind: ClusterIssuer
  dnsNames:
    - lam.chillincool.net
