---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ldap-tls
  namespace: openldap
spec:
  secretName: ldap-tls
  issuerRef:
    name: letsencrypt-dns01
    kind: ClusterIssuer
  dnsNames:
    - ldap.chillincool.net
