---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: onepassword-connect
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/flux/onepassword-connect/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
  targetNamespace: onepassword
  decryption:
    provider: sops
    secretRef:
      name: sops-age
