---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: istio-egress-apps
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/apps/istio-egress
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m
