---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  dependsOn:
    - name: vpa
  chart:
    spec:
      chart: goldilocks
      version: 10.3.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds
  interval: 1h
  values:
    controller:
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 128Mi
    dashboard:
      replicaCount: 1
      resources:
        requests:
          cpu: 25m
          memory: 64Mi
        limits:
          memory: 128Mi
      httpRoute:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - goldilocks.chillincool.net
    serviceMonitor:
      enabled: true
