---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: goldilocks
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 9.0.1
  url: oci://ghcr.io/fairwinds/charts/goldilocks
