---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpa
spec:
  chart:
    spec:
      chart: vpa
      version: 4.10.1
      sourceRef:
        kind: HelmRepository
        name: fairwinds
  interval: 1h
  values:
    recommender:
      enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          memory: 512Mi
    updater:
      enabled: false
    admissionController:
      enabled: false
