---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: radarr
      version: "0.2.0"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: false
    crds: Create
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  values:
    controllers:
      main:
        initContainers:
          create-directories:
            image: alpine:latest
            command:
              - sh
              - -c
              - |
                mkdir -p /storage/symlinks/downloads/radarr
                mkdir -p /storage/symlinks/movies
                chown -R 568:568 /storage/symlinks
            volumeMounts:
              - name: symlinks
                mountPath: /storage/symlinks
    
    service:
      type: NodePort
      port: 7878
      nodePort: 30878
      targetPort: http
    
    podSecurityContext:
      fsGroup: 568
    
    securityContext:
      runAsNonRoot: false
      runAsUser: 568
      runAsGroup: 568
      readOnlyRootFilesystem: false
    
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /config
            subPath: radarr
      symlinks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: symlinks
        globalMounts:
          - path: /storage/symlinks
