---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
  namespace: oauth2-proxy
spec:
  interval: 30m
  chart:
    spec:
      chart: oauth2-proxy
      version: "7.8.0"
      sourceRef:
        kind: HelmRepository
        name: oauth2-proxy
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: true
  upgrade:
    cleanupOnFail: true
  values:
    config:
      existingSecret: oauth2-proxy-secret
      configFile: |-
        provider = "keycloak-oidc"
        provider_display_name = "Keycloak"
        redirect_url = "https://auth.chillincool.net/oauth2/callback"
        oidc_issuer_url = "https://keycloak.chillincool.net/realms/homelab"
        email_domains = ["*"]
        cookie_domains = [".chillincool.net"]
        whitelist_domains = [".chillincool.net"]
        cookie_secure = true
        cookie_httponly = true
        pass_authorization_header = true
        pass_access_token = true
        pass_user_headers = true
        set_authorization_header = true
        set_xauthrequest = true
    
    service:
      type: ClusterIP
      port: 4180
    
    ingress:
      enabled: false
