---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: suggestarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: suggestarr
      version: "0.x.x"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
      remediateLastFailure: true
  values:
    httpRoute:
      enabled: true
      parentRefs:
        - name: media-gateway-istio
          namespace: media
          sectionName: https-suggestarr
      hostnames:
        - suggestarr.chillincool.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: suggestarr
              port: 5000

    probes:
      path: /

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: suggestarr-config
        globalMounts:
          - path: /config
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
