---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-state-metrics
  namespace: flux-system
spec:
  dependsOn:
    - name: victoria-metrics-stack
  interval: 30m
  path: ./kubernetes/apps/monitoring/kube-state-metrics/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 10m
  targetNamespace: monitoring
