apiVersion: v1
kind: ConfigMap
metadata:
  name: decypharr-values
  namespace: media
data:
  values.yaml: |
    persistence:
      realdebrid:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: realdebrid-webdav
        globalMounts:
          - path: /storage/realdebrid
