---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: plex
      version: "0.x.x"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: false
    crds: Create
    timeout: 10m
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    timeout: 10m
  values:
    # env:
    #   - name: PLEX_CLAIM_TOKEN
    #     value: claim-xxxxxxxxxx
    httpRoute:
      enabled: true
      parentRefs:
        - name: media-gateway-istio
          namespace: media
          sectionName: https-plex
      hostnames:
        - plex.chillincool.net
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: plex
              port: 32400

    service:
      type: LoadBalancer
      port: 32400
      targetPort: http
      allocateLoadBalancerNodePorts: false

    podAnnotations:
      configmap.reloader.stakater.com/reload: decypharr-values
      secret.reloader.stakater.com/reload: rclone-secret-realdebrid

    podSecurityContext:
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch

    securityContext:
      runAsNonRoot: true
      runAsUser: 568
      runAsGroup: 568
      readOnlyRootFilesystem: false

    resources:
      requests:
        cpu: 2
        memory: 512Mi
      limits:
        cpu: 6
        memory: 8Gi

    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: plex-data
        globalMounts:
          - path: /config
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: plex-config
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/
            subPath: Preferences.xml
          - path: /config/Library/Application Support/Plex Media Server/Plug-in Support/Databases
            subPath: Databases
      backups:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: backups
        globalMounts:
          - path: /storage/backups
            subPath: plex
      realdebrid:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: realdebrid-webdav
        globalMounts:
          - path: /storage/realdebrid
      symlinks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: symlinks
        globalMounts:
          - path: /storage/symlinks
      dsm1:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: dsm1-data
        globalMounts:
          - path: /storage/dsm1
      dsm1-anime:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: dsm1-anime
        globalMounts:
          - path: /storage/dsm1-anime
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
