---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: sonarr
      version: "0.2.0"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
      remediateLastFailure: true
  values:
    image:
      repository: ghcr.io/chillincool/sonarr
      tag: latest
    service:
      type: NodePort
      port: 8989
      nodePort: 30989
    podAnnotations:
      configmap.reloader.stakater.com/reload: decypharr-values
      secret.reloader.stakater.com/reload: rclone-secret-realdebrid
    # Decypharr's init container already manages creation of required
    # directories in the `symlinks` PVC. We don't need an init container here.

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /config
            subPath: sonarr
      realdebrid:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: realdebrid-webdav
        globalMounts:
          - path: /storage/realdebrid
      symlinks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: symlinks
        globalMounts:
          - path: /storage/symlinks
