---
apiVersion: kiali.io/v1alpha1
kind: Kiali
metadata:
  name: kiali
  namespace: kiali-operator
spec:
  installation_tag: "Kiali for Istio Ambient"

  istio_namespace: istio-system

  auth:
    strategy: anonymous

  deployment:
    namespace: monitoring
    cluster_wide_access: true

  external_services:
    istio:
      root_namespace: istio-system
    prometheus:
      url: http://vmselect-victoria-metrics-k8s-stack.monitoring.svc:8481/select/0/prometheus
      health_check_url: http://vmselect-victoria-metrics-k8s-stack.monitoring.svc:8481/health
      thanos_proxy:
        enabled: true
        retention_period: "7d"
        scrape_interval: "15s"

  server:
    web_root: /
