---
apiVersion: kiali.io/v1alpha1
kind: Kiali
metadata:
  name: kiali
  namespace: kiali-operator
spec:
  installation_tag: "Kiali for Istio Ambient"

  istio_namespace: istio-system

  auth:
    strategy: openid
    openid:
      client_id: kiali
      client_secret: jFayYLRCDTioOoT1pH5NIfugltzhqPar
      scopes: ["openid", "profile", "email"]
      username_claim: "preferred_username"
      issuer_uri: https://loigin.chillincool.net/realms/chillincool # true if Keycloak uses self-signed cert

  deployment:
    namespace: monitoring
    cluster_wide_access: true

  external_services:
    istio:
      root_namespace: istio-system
    prometheus:
      url: http://vmselect-victoria-metrics-k8s-stack.monitoring.svc:8481/select/0/prometheus
      health_check_url: http://vmselect-victoria-metrics-k8s-stack.monitoring.svc:8481/health
      thanos_proxy:
        enabled: true
        retention_period: "7d"
        scrape_interval: "15s"
    grafana:
      enabled: true
      in_cluster_url: http://victoria-metrics-k8s-stack-grafana.monitoring.svc:80
      url: https://grafana.chillincool.net
      auth:
        type: bearer
        token: secret:grafana-api-token:password

  server:
    web_root: /
