---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lidarr
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/default/lidarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  targetNamespace: default
