---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
  interval: 1h
  values:
    installCRDs: true
    operatorConfig:
      defaultTags:
        - tag:k8s-operator
      image:
        repository: tailscale/k8s-operator
        tag: v1.94.2
        pullPolicy: Always
      logging: info
      hostname: tailscale-operator
      nodeSelector:
        kubernetes.io/os: linux
      resources: {}
      podAnnotations: {}
      podLabels: {}
      serviceAccountAnnotations: {}
      tolerations: []
      affinity: {}
      podSecurityContext: {}
      securityContext: {}
      extraEnv: []
    ingressClass:
      enabled: false
    proxyConfig:
      image:
        repository: tailscale/tailscale
        tag: v1.94.2
      defaultTags: tag:k8s
      firewallMode: auto
      defaultProxyClass: ""
    apiServerProxyConfig:
      allowImpersonation: "true"
      mode: "true"
    imagePullSecrets: []
