---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: imagemaid
  namespace: media
spec:
  schedule: "0 5 * * 0"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: imagemaid
              image: ghcr.io/chillincool/imagemaid:latest
              command:
                - python
                - imagemaid.py
                - --config
                - /config/config.yml
              env:
                - name: PUID
                  value: "568"
                - name: PGID
                  value: "568"
                - name: TZ
                  value: "America/Chicago"
              volumeMounts:
                - name: config
                  mountPath: /config/config.yml
                  subPath: config.yml
                - name: config-pvc-imagemaid
                  mountPath: /config
                  subPath: imagemaid
                - name: config-pvc-plex
                  mountPath: /plex
                  subPath: plex
          volumes:
            - name: config
              configMap:
                name: imagemaid-config
            - name: config-pvc-imagemaid
              persistentVolumeClaim:
                claimName: shared-app-config
            - name: config-pvc-plex
              persistentVolumeClaim:
                claimName: shared-app-config
