---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: imagemaid
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: imagemaid
      version: "0.x.x"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    service:
      type: ClusterIP
      port: 8080

    podAnnotations:
      configmap.reloader.stakater.com/reload: imagemaid-config

    podSecurityContext:
      fsGroup: 568

    securityContext:
      runAsNonRoot: true
      runAsUser: 568
      runAsGroup: 568
      readOnlyRootFilesystem: false

    persistence:
      config-file:
        enabled: true
        type: configMap
        name: imagemaid-config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /config
            subPath: imagemaid
      plex:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /plex
            subPath: plex
