---
apiVersion: v1
kind: Namespace
metadata:
  name: csi-rclone
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: veloxpack
  namespace: flux-system
spec:
  interval: 1h
  type: oci
  url: oci://ghcr.io/veloxpack/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-rclone
  namespace: csi-rclone
spec:
  interval: 30m
  chart:
    spec:
      chart: csi-driver-rclone
      version: ">=0.1.0"
      sourceRef:
        kind: HelmRepository
        name: veloxpack
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    controller:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    node:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
