---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: suggestarr
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: suggestarr
      version: "0.x.x"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
      remediateLastFailure: true
  values:
    probes:
      path: /

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /app/config/
            subPath: suggestarr
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
