---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMNodeScrape
metadata:
  name: node-exporter
  namespace: monitoring
spec:
  scheme: "http"
  interval: "30s"
  scrapeTimeout: "10s"
  path: "/metrics"
  port: "9100"
