---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tautulli
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: tautulli
      version: "0.2.0"
      sourceRef:
        kind: HelmRepository
        name: chillincool
        namespace: flux-system
  install:
    remediation:
      retries: 3
    createNamespace: false
    crds: Create
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  values:
    service:
      type: NodePort
      port: 8181
      nodePort: 30181
    podAnnotations:
      configmap.reloader.stakater.com/reload: decypharr-values
      secret.reloader.stakater.com/reload: rclone-secret-realdebrid
    # Decypharr is responsible for creating required directories on the symlinks PVC.
    # No init container is necessary for Tautulli.

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: shared-app-config
        globalMounts:
          - path: /config
            subPath: tautulli
      realdebrid:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: realdebrid-webdav
        globalMounts:
          - path: /storage/realdebrid
      symlinks:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: symlinks
        globalMounts:
          - path: /storage/symlinks
