---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-dns01
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory # Use https://acme-staging-v02.api.letsencrypt.org/directory for testing
    email: chris@chillincool.net # Replace with your email
    privateKeySecretRef:
      name: letsencrypt-dns01
    solvers:
      - dns01:
          cloudflare: # Replace with your DNS provider (e.g., route53, digitalocean)
            email: chris@chillincool.net # Replace
            apiTokenSecretRef:
              name: cloudflare-api-token
              key: api-token
