---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: keycloak-db
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.2-3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 5Gi
    storageClass: longhorn
  monitoring:
    enablePodMonitor: true
  bootstrap:
    initdb:
      database: keycloak
      owner: keycloak
      secret:
        name: keycloak-db-secret
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi