---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keycloak
spec:
  chartRef:
    kind: OCIRepository
    name: keycloak
  interval: 1h
  values:
    controllers:
      keycloak:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: quay.io/keycloak/keycloak
              tag: 26.1.0@sha256:b6b5f1ac86c816784e836e9a0ed34a4d2082bb0d95a75457034db4dea1e30d74
            args:
              - start
              - --import-realm
            env:
              # Database
              KC_DB: postgres
              KC_DB_URL_HOST: keycloak-db-rw.keycloak.svc.cluster.local
              KC_DB_URL_PORT: "5432"
              KC_DB_URL_DATABASE: keycloak
              # Keycloak
              KC_HOSTNAME: login.chillincool.net
              KC_HOSTNAME_STRICT: "false"
              KC_HTTP_ENABLED: "true"
              KC_HTTP_PORT: &port 8080
              KC_PROXY_HEADERS: xforwarded
              KC_HEALTH_ENABLED: "true"
              KC_METRICS_ENABLED: "true"
              KC_LOG_LEVEL: info
              KC_FEATURES: token-exchange,admin-fine-grained-authz
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/live
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/ready
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/started
                    port: *port
                  initialDelaySeconds: 15
                  periodSeconds: 5
                  timeoutSeconds: 5
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
            path: /metrics
    route:
      app:
        hostnames:
          - login.chillincool.net
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      tmp:
        type: emptyDir
      realm-config:
        type: configMap
        name: "{{ .Release.Name }}-realm"
        globalMounts:
          - path: /opt/keycloak/data/import
