---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cluster.yaml
  - ./externalsecret.yaml
  - ./grafanadashboard.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./prometheusrule.yaml
  - ./scheduledbackup.yaml
configMapGenerator:
  - name: keycloak-realm
    files:
      - chillincool-realm.json=./resources/chillincool-realm.json
generatorOptions:
  disableNameSuffixHash: true
