---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: keycloak-ldap-client-tls
  namespace: keycloak
spec:
  secretName: keycloak-ldap-client-tls
  duration: 8760h # 1 year
  renewBefore: 720h # 30 days
  subject:
    organizations:
      - chillincool
  commonName: keycloak.keycloak.svc.cluster.local
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    - server auth
    - client auth
    - digital signature
    - key encipherment
  dnsNames:
    - keycloak.keycloak.svc.cluster.local
    - keycloak.chillincool.net
  issuerRef:
    name: vault
    kind: ClusterIssuer
    group: cert-manager.io
