---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: keycloak-db-secret
  namespace: keycloak
spec:
  itemPath: "vaults/talos/items/keycloak-db-secret"
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: keycloak-pg
  namespace: keycloak
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:16
  
  bootstrap:
    initdb:
      database: keycloak
      owner: keycloak
      secret:
        name: keycloak-db-secret
  
  storage:
    size: 10Gi
    storageClass: longhorn
  
  monitoring:
    enablePodMonitor: true
  
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "256MB"
