---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: keycloak
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/keycloak/keycloak/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 10m
  targetNamespace: keycloak
  dependsOn:
    - name: cert-manager
      namespace: flux-system
    - name: cloudnative-pg
      namespace: flux-system
