---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    controllers:
      main:
        containers:
          main:
            image:
              tag: v2.5.6
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich-library

    valkey:
      enabled: true
      controllers:
        main:
          containers:
            main:
              resources:
                requests:
                  cpu: 5m
                  memory: 256Mi
                limits:
                  memory: 512Mi

    server:
      enabled: true
      controllers:
        main:
          annotations:
            reloader.stakater.com/auto: "true"
          containers:
            main:
              env:
                TZ: America/Chicago
                DB_HOSTNAME: immich-db-rw
                DB_DATABASE_NAME: immich
                DB_USERNAME: immich
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-db-secret
                      key: password
              resources:
                requests:
                  cpu: 10m
                  memory: 256Mi
                limits:
                  memory: 4Gi
      ingress:
        main:
          enabled: false
      route:
        main:
          hostnames:
            - immich.chillincool.net
          parentRefs:
            - name: envoy-internal
              namespace: network
        tailscale:
          hostnames:
            - immich.chillincool.xyz
          parentRefs:
            - name: envoy-tailscale
              namespace: network

    machine-learning:
      enabled: true
      controllers:
        main:
          containers:
            main:
              env:
                TZ: America/Chicago
              resources:
                requests:
                  cpu: 10m
                  memory: 512Mi
                limits:
                  memory: 6Gi
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce
          storageClass: longhorn
