---
# yaml-language-server: $schema=https://kubernetes-schemas-cvg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich

    valkey:
      enabled: false

    server:
      enabled: true
      controllers:
        main:
          annotations:
            reloader.stakater.com/auto: "true"
          containers:
            main:
              env:
                TZ: America/Chicago
                REDIS_HOSTNAME: localhost
                REDIS_PORT: "6379"
                DB_HOSTNAME: immich-db-rw
                DB_DATABASE_NAME: immich
                DB_USERNAME: immich
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-db-secret
                      key: password
              resources:
                requests:
                  cpu: 10m
                  memory: 256Mi
                limits:
                  memory: 1Gi
            redis:
              image:
                repository: ghcr.io/dragonflydb/dragonfly
                tag: v1.36.0@sha256:af221b68138afb0b0238401c335493cfc2b060d577c5d6c018ddf6a29d3119f9
              args: ["--logtostderr", "--proactor_threads=1"]
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities: {drop: ["ALL"]}
              resources:
                requests:
                  cpu: 5m
                  memory: 32Mi
                limits:
                  memory: 300Mi
      ingress:
        main:
          enabled: false
      route:
        main:
          hostnames:
            - immich.chillincool.net
          parentRefs:
            - name: envoy-internal
              namespace: network

    machine-learning:
      enabled: true
      controllers:
        main:
          containers:
            main:
              env:
                TZ: America/Chicago
              resources:
                requests:
                  cpu: 10m
                  memory: 512Mi
                limits:
                  memory: 2Gi
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce
          storageClass: longhorn
